
$bgcol-light: rgb(255, 255, 255);

$headercol: rgb(10, 4, 1);
$nav-bordercol: rgb(255, 224, 98);

$linkcol: rgba(255,255,255,1);
$linkcol-visit: rgba(255,255,255,0.4);
$linkcol-hover: rgb(255, 218, 52);